
/.env.dev
/.env.docker
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
composer.lock
.idea
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
